@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../static/iconfont/material-icons.css";
@import "../../static/roboto/font.css";

body {
  font-family: 'Roboto', sans-serif;
  background: #ebebeb;
}

.clear-button {
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
